.dialogDimensions{
    max-width: 300px;
    width: 100%;
    min-width: 220px;
    max-height: 80vh;
    background-color: black;
    color: white;
}

.restartDialog{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Zen Dots", sans-serif;
}

.restartDialog h1,h3{
    align-self: center;
}

.restartDialog p{
align-self: start;
}

.restartDialog form{
    align-self:flex-end;
}

dialog:-internal-dialog-in-top-layer::backdrop{
    background: transparent;
    backdrop-filter: blur(10px);
}